@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.4px;
}
body{
    background-color:greenyellow;
    height: 100%;
    background: linear-gradient(135deg, blue, red)fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat ;
}
.container{
    background-color:white ;
    width: 450px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0,0,0,0.7);
    border-radius: 8px;
    height: auto;

}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    width: auto;
    
}
.lbl{
    font-size: 16px;
    color: #2a3581;
    font-weight: 400;
}
.val{
    color: #44475b;
    font-weight: 500;
    font-size: 18px;
}
.input-box{
    background-color: #cdccfd;
    color: #5553e6;
    padding: 5px;
    width: auto;
    height: auto;

    

}
#bill{
    background-color: transparent;
    text-align: right;
    color: #6f6df4;
    border: none;
    outline: none;
    width: 100px;

}
hr{
    border: none;
    border-bottom: 1px solid#cdccfd;
}
input[type="input"]{
    width: 20%;
    cursor: pointer;
    text-align: center;
    margin-left: 80%;
    background-color: #cdccfd;
    color: #6f6df4;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}

input[type="input"]:not(:last-child){
    margin-bottom: 5px;
}
section:not(:last-child){
    margin-bottom: 40px;
}
section:not(:first-child){
    margin-top: 40px;
}
section:last-child{
    background-color: #cdccfd;
    padding: 10px;
    border-radius: 5px;
}
section:last-child .val,
section:last-child .lbl{
    color: #4c4af4;
}

@media  (max-width: 460px)  { 
    .container{
        width: 400px;
      
        
    }
   }
   @media  (max-width: 420px)  { 
    .container{
        width: 350px;
      
        
    }
   }
   @media  (max-width: 360px)  { 
    .container{
        width: 300px;
      
        
    }
   }
  
   
  
  
   